BASE_URL=https://ejemplo.com
SUBDOMINIO_APP=subdominio_de_prueba
USERNAME_APP=usuario_de_prueba
PASSWORD_APP=cambiar_esto
BROWSER=chromium
HEADLESS=true
SLOW_MO_MS=0
DEFAULT_TIMEOUT_MS=15000
DB_SERVER=db-servidor-de-prueba.ejemplo.com
DB_PORT=1433
DB_USER=usuario_db
DB_PASSWORD=cambiar_esto
